<?xml version="1.0" encoding="utf-8" ?>
<RezaB.Radius.DAEHelper.Service.Properties.Settings>
 <setting name="SchedulerCheckInterval" serializeAs="String">
  <value>00:01:00</value>
 </setting>
 <setting name="BindingAddress" serializeAs="String">
  <value />
 </setting>
 <setting name="Port01" serializeAs="String">
  <value>23110</value>
 </setting>
 <setting name="Port02" serializeAs="String">
  <value>23111</value>
 </setting>
 <setting name="Port03" serializeAs="String">
  <value>23112</value>
 </setting>
 <setting name="Port04" serializeAs="String">
  <value>23113</value>
 </setting>
 <setting name="Port05" serializeAs="String">
  <value>23114</value>
 </setting>
 <setting name="Port06" serializeAs="String">
  <value>23115</value>
 </setting>
 <setting name="Port07" serializeAs="String">
  <value>23116</value>
 </setting>
 <setting name="Port08" serializeAs="String">
  <value>23117</value>
 </setting>
</RezaB.Radius.DAEHelper.Service.Properties.Settings>