<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
      type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RadiusR_Server.Properties.Settings"
        type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <connectionStrings configSource="Connection.config"/>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <RadiusR_Server.Properties.Settings>
      <setting name="AuthenticationServerPort" serializeAs="String">
        <value>1812</value>
      </setting>
      <setting name="AccountingServerPort" serializeAs="String">
        <value>1813</value>
      </setting>
      <setting name="maxInterimUpdate" serializeAs="String">
        <value>00:07:00</value>
      </setting>
      <setting name="DropDuplicates" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="COAPoolCapacity" serializeAs="String">
        <value>3000</value>
      </setting>
      <setting name="AuthenticationServerThreadCount" serializeAs="String">
        <value>32</value>
      </setting>
      <setting name="AccountingServerThreadCount" serializeAs="String">
        <value>32</value>
      </setting>
      <setting name="COAThreadCount" serializeAs="String">
        <value>16</value>
      </setting>
      <setting name="AccountingPoolCapacity" serializeAs="String">
        <value>3000</value>
      </setting>
      <setting name="AuthenticationPoolCapacity" serializeAs="String">
        <value>256</value>
      </setting>
      <setting name="ServerLocalIP" serializeAs="String">
        <value/>
      </setting>
      <setting name="AccountingItemDiscardThreshold" serializeAs="String">
        <value>3000</value>
      </setting>
      <setting name="AuthenticationItemDiscardThreshold" serializeAs="String">
        <value>3000</value>
      </setting>
    </RadiusR_Server.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="smsnnPortBinding"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://soap.netgsm.com.tr:8080/Sms_webservis/SMS" binding="basicHttpBinding" bindingConfiguration="smsnnPortBinding"
        contract="NetGsm.smsnn" name="smsnnPort"/>
    </client>
  </system.serviceModel>
</configuration>