<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="NLog" version="4.7.6" targetFramework="net472" />
  <package id="RadiusR.DB" version="1.4.2" targetFramework="net472" />
  <package id="RadiusR.DB.Utilities" version="1.1.5" targetFramework="net472" />
  <package id="RadiusR.Scheduler.SMS" version="1.0.2" targetFramework="net472" />
  <package id="RadiusR.SMS" version="1.0.2" targetFramework="net472" />
  <package id="RezaB.Data" version="1.0.2" targetFramework="net472" />
  <package id="RezaB.DBUtilities" version="1.0.0" targetFramework="net472" />
  <package id="RezaB.Scheduling" version="1.0.4" targetFramework="net472" />
</packages>