<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="NLog" version="4.4.12" targetFramework="net452" />
  <package id="Owin" version="1.0" targetFramework="net452" />
  <package id="RadiusR.DB" version="1.0.0" targetFramework="net452" />
  <package id="RezaB.DBUtilities" version="1.0.0" targetFramework="net452" />
  <package id="RezaB.Mikrotik" version="1.0.0" targetFramework="net452" />
  <package id="RezaB.Mikrotik.Extentions" version="1.2.0" targetFramework="net452" />
  <package id="RezaB.Networking" version="1.0.1" targetFramework="net452" />
</packages>